<!-- Card deck -->
<div class="card-deck">
  <!-- Card -->
  <div class="card mb-4">
    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="https://ceafitness.com/wp-content/uploads/2019/05/coding2.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title">Javascript</h4>
      <!--Text-->
      <p class="card-text">JavaScript (JS) is a lightweight, interpreted or JIT compiled programming language with first-class functions. </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="https://developer.mozilla.org/bm/docs/Web/JavaScript" type="button" class="btn btn-light-blue btn-md">Read more</a>
    </div>
  </div>
  <!-- Card -->
  <!-- Card -->
  <div class="card mb-4">
    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="https://ceafitness.com/wp-content/uploads/2019/05/coding4.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title">Node.js</h4>
      <!--Text-->
      <p class="card-text">As an asynchronous event driven JavaScript runtime, Node is designed to build scalable network applications. </p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="https://nodejs.org/en/docs/" type="button" class="btn btn-light-blue btn-md">Read more</a>
    </div>
  </div>
  <!-- Card -->
  <!-- Card -->
  <div class="card mb-4">
    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="https://ceafitness.com/wp-content/uploads/2019/05/coding3.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title">Bootstrap</h4>
      <!--Text-->
      <p class="card-text">Get started with Bootstrap, the world’s most popular framework for building responsive, mobile-first sites, with BootstrapCDN and a template starter page.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
       <a href="https://getbootstrap.com/docs/4.1/getting-started/introduction/" type="button" class="btn btn-light-blue btn-md">Read more</a>
    </div>
  </div>
  <!-- Card -->
</div>
<!-- Card deck -->
<!-- Card deck -->
<div class="card-deck">
  <!-- Card -->
  <div class="card mb-4">
    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="https://ceafitness.com/wp-content/uploads/2019/05/coding1.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title">sequelize</h4>
      <!--Text-->
      <p class="card-text">Sequelize is a promise-based Node.js ORM for Postgres, MySQL, MariaDB, SQLite and Microsoft SQL Server. It features solid transaction support, relations, eager and lazy loading, read replication and more.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="http://docs.sequelizejs.com/" type="button" class="btn btn-light-blue btn-md">Read more</a>
    </div>
  </div>
  <!-- Card -->
  <!-- Card -->
  <div class="card mb-4">
    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="https://ceafitness.com/wp-content/uploads/2019/05/coding6.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title">Handlebars</h4>
      <!--Text-->
      <p class="card-text">Handlebars provides the power necessary to let you build semantic templates effectively with no frustration.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
     <a href="https://handlebarsjs.com/" type="button" class="btn btn-light-blue btn-md">Read more</a>
    </div>
  </div>
  <!-- Card -->
  <!-- Card -->
  <div class="card mb-4">
    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="https://ceafitness.com/wp-content/uploads/2019/05/coding5.jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Card content-->
    <div class="card-body">
      <!--Title-->
      <h4 class="card-title">Amazon Cognito</h4>
      <!--Text-->
      <p class="card-text">Amazon Cognito is a service that you can use to create unique identities for your users, authenticate these identities with identity providers, and save mobile user data in the AWS Cloud.</p>
      <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
      <a href="https://docs.aws.amazon.com/cognito/index.html" type="button" class="btn btn-light-blue btn-md">Read more</a>
    </div>
  </div>
  <!-- Card -->
</div>
<!-- Card deck -->